<div class="flex flex-wrap my-5">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Buscar..." />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="w-12 h-12 flex flex-wrap content-center justify-center">
    <button
      mat-fab
      (click)="openDialog()"
      class="flex flex-col justify-center content-center"
    >
      <mat-icon color="accent">add</mat-icon>
    </button>
  </div>
</div>

<app-loader [isLoading]="(brands$ | async)!.loading">
  @if ((brands$ | async)!.data != null && (brands$ | async)!.data!.length > 0){
  <table mat-table [dataSource]="(brands$ | async)!.data!" class="
    mat-elevation-z8
    ">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let brand">{{ brand.brandId }}</td>
    </ng-container>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let brand" class="text-center">
        {{ brand.brandName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Productos">
      <th mat-header-cell *matHeaderCellDef>Productos</th>
      <td mat-cell *matCellDef="let brand">{{ brand.cantProducts }}</td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let brand">
        <button mat-button class="text-center w-2">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
    } @else if ((brands$ | async)!.status === "error"){
  <app-alert [icon]="'warning'" [message]="(brands$ | async)!.message" [color]="'warn'">
  </app-alert>
  }
</app-loader>
